.mylabel {
    font-size: 30px;
}

.sketch-container {
    display: flex;
    justify-content: center;
}

#sketch {
    float: left;
    width: 800px;
}

#sources {
    float: left;
    padding-left: 50px;
    padding-right: 100px;
    background-color: #F2EFE5;
}